<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 典型的日志pattern -->
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 演示按时间滚动的策略 -->
 	<appender name="defaultlogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${loggingRoot}/logs/${application.name}/${application.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${loggingRoot}/logs/${application.name}/${application.name}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 保留 30天数据，默认无限 -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender> 
	


	<!-- project default level -->
	<logger name="org.nbone" level="INFO" />

	
	<!-- root -->
	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="defaultlogFile" />
	</root>
</configuration>