<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context.xsd
						   http://www.springframework.org/schema/mvc
						   http://www.springframework.org/schema/mvc/spring-mvc.xsd
						   
						   http://www.springframework.org/schema/util
						   http://www.springframework.org/schema/util/spring-util.xsd
						   
						   " >
 
	<bean class="org.nbone.web.demo.InitializingBeanDemo"></bean>

    <context:component-scan base-package="org.nbone.web" use-default-filters="false" >
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    
    
    <bean id="configFile" class="org.nbone.framework.spring.boot.context.config.ConfigFileApplication">
    	<property name="order" value="-1"></property>
    </bean>
    <bean class="org.nbone.web.config.TestAutoConfiguration">
   		<!-- <property name="username" value="${spring.username}"></property>
   		<property name="password" value="${spring.password}"></property> -->
    </bean> 
    
	<!-- <context:property-placeholder order="10"/> -->
	<bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer" >
		<property name="fileEncoding" value="utf-8"></property>
	</bean>

</beans>